<h2>Представления</h2>
<!-- По возможности убрать проверку -->

<aside class="links" *ngIf="organization">
  <h3>Справочник организации</h3>
  <p>Структура организации</p>
  <p>Организация: {{ organization.name }} {{ organization.physAddress }}</p>
  <ul>
    <ul *ngFor="let department of organization.departments">
      Подразделение:
      {{
        department.name
      }}
      {{
        department.contactInfo
      }}
      Сотрудники подзраделения:
      <li *ngFor="let employee of department.employees">
        Имя: {{ employee.firstname }}, фамилия: {{ employee.surname }}
      </li>
    </ul>
  </ul>
  <p>Список сотрудников</p>
  <ol>
    <li *ngFor="let employee of allEmployees">
      {{ employee.firstname }}
    </li>
  </ol>

  <h3>Поручения</h3>
  <p>Все поручения</p>
  <ol>
    <li *ngFor="let assignment of allAssignments">
      <a [routerLink]="['/assignments', assignment.id]">{{
        assignment.subject
      }}</a>
    </li>
  </ol>
  <p>Мои поручения</p>
  <ol>
    <li *ngFor="let assignment of assignmentsFromMe">
      <a>{{ assignment.subject }}</a>
    </li>
  </ol>
  <p>Поручения мне</p>
  <ol>
    <li *ngFor="let assignment of assignmentsToMe">
      <a>{{ assignment.subject }}</a>
    </li>
  </ol>
</aside>
