<h2>Представления</h2>
<!-- По возможности убрать проверку -->
<aside class="links" *ngIf="organization">
  <h3>Справочник организации</h3>
  <a href="/structure" >Структура организации</a>
  Организация: {{ organization.name }} {{ organization.physAddress }}
  <ul>
    <ul *ngFor="let department of organization.departments">
      Подразделение:
      {{
        department.name
      }}
      {{
        department.contactInfo
      }}
      Сотрудники подзраделения:
      <li *ngFor="let employee of department.employees">
        Имя: {{ employee.firstname }}, фамилия: {{ employee.surname }}
      </li>
    </ul>
  </ul>
  <a href="/employees">Список сотрудников</a>
  <ol>
    <li *ngFor="let employee of allEmployees">
      {{ employee.firstname }}
    </li>
  </ol>

  <h3>Поручения</h3>
  <a href="/assignments/all">Все поручения</a>
  <ol>
    <li *ngFor="let assignment of allAssignments">
      {{ assignment.subject }}
    </li>
  </ol>
  <a href="/assignments/from/me">Мои поручения</a>
  <ol>
    <li *ngFor="let assignment of assignmentsFromMe">
      {{ assignment.subject }}
    </li>
  </ol>
  <a href="/assignments/to/me">Поручения мне</a>
  <ol>
    <li *ngFor="let assignment of assignmentsToMe">
      {{ assignment.subject }}
    </li>
  </ol>
</aside>
