<form action="">
  <div class="form-group">
    <label for="">Предмет</label><input class="form-control" type="text" name="" id="" />
  </div>
  <div class="form-group">
    <label for="">Автор</label><input class="form-control" type="text" name="" id="" />
  </div>
  <div class="form-group">
    <label for="">Исполнители</label><input class="form-control" type="text" name="" id="" />
  </div>
  <div class="form-group">
    <label for="">Срок</label><input class="form-control" type="text" name="" id="" />
  </div>
  <div class="form-group">
    <label for="">Признак контрольности</label
    ><input class="form-control" type="text" name="" id="" />
  </div>
  <div class="form-group">
    <label for="">Признак исполнения</label><input class="form-control" type="text" name="" id="" />
  </div>
  <div class="form-group">
    <label for="">Текст поручения</label><input class="form-control" type="text" name="" id="" />
  </div>
  <input class="form-control" type="submit" value="Создать поручение" />
</form>
