<table class="table table-bordered" *ngIf="assignment">
  <tr>
    <th>ID</th>
    <th>Subject</th>
    <th>Deadline</th>
    <th>Control sign</th>
    <th>Operate sign</th>
    <th>Content</th>
    <th>Author ID</th>
  </tr>
  <tr>
    <td>{{ assignment.id }}</td>
    <td>{{ assignment.subject }}</td>
    <td>{{ assignment.deadline | date }}</td>
    <td>{{ assignment.controlSign }}</td>
    <td>{{ assignment.operateSign }}</td>
    <td>{{ assignment.content }}</td>
    <td>{{ assignment.author.id }}</td>
  </tr>
</table>
